@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.app {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 2rem 0;

    font-family: 'Montserrat', sans-serif;
}

select,
option,
input {
    padding: 0 5px;
    height: 1.2rem;
}

input,
input::placeholder {
    font-family: 'Montserrat', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 40%;
    padding: 1.8rem 1.4rem;

    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

label {
    display: flex;
    width: 100%;
    height: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    /*gap: 10px;*/
}

.list label {
    align-items: center;
}
.row {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    row-gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}

.row label {
    /*padding-top: 15px;*/
}

.button {
    width: 5rem;
    height: 2rem;

    outline: none;
    border: none;

    border-radius: 4px;

    color: white;

    cursor: pointer;
}

.button--submit {
    margin-right: 1rem;


    background-color: cornflowerblue;

}

.button--submit:disabled {
    background-color: #ccd8ec;
}

.button--reset {
    background-color: #c5c3c3;
}

.button--reset:disabled {
    background-color: #e3e3e3;
}

.error-block {
    display: flex;
    flex-direction: column;
    gap: 1px;
    text-align: center;
    color: red;
}

.user-data {
    background-color: #e7e6e6;
    padding: 1rem;
    word-break: break-all;
    white-space: break-spaces;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

@keyframes slide-up {
    0%, 100% {
        color: red;
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        color: blue;
        opacity: 1;
        transform: translateY(3rem);
    }
}
